@import "./variables.scss";

main {
  width: 90%;
  margin: 0 5% 0 5%;
}
#header {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

main {
  #page-photographer {
    display: flex;
    float: left;
    flex-direction: row;
    position: relative;
    margin-bottom: 30px;
    padding: 50px 0 50px 0;
    text-align: center;
    background-color: $colour-tertiary;
    width: 100%;
    height: 313px;
    box-sizing: border-box;

    @media screen and (max-width: 800px) {
      height: 260px;
    }

    #vignette {
      background-color: $colour-tertiary;
      width: 40%;
      text-align: left;
      padding-left: 50px;

      @media screen and (max-width: 800px) {
        width: 65%;
        padding-left: 20px;

      }

      h2 {
        font-size: 64px;

        @media screen and (max-width: 800px) {
          font-size: 36px;
        }
      }

      .vignette-description-ville {
        font-size: 24px;
        color: $colour-primary;
        line-height: 31px;
        margin-bottom: 20px;
        @media screen and (max-width: 800px) {
          font-size: 13px;
        }
      }
      .vignette-description-slogan {
        font-size: 18px;
        color: $text-tertiary;
        line-height: 23px;
        margin-bottom: 20px;
        @media screen and (max-width: 800px) {
          font-size: 13px;
        }
      }
      .vignette-tag {
        justify-content: left;
        @media screen and (max-width: 800px) {
          font-size: 13px;
        }
      }
    }

    .encart-CTA {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      height: 69px;
      width: 170px;
      background-color: $colour-primary;
      font-family: $font-principal;
      font-weight: 700;
      color: #fff;

      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .vignette-photo {
      display: flex;
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
      box-shadow: 0px 0px 8px $colour-medium-grey;
      position: absolute;
      right: 50px;
      top: 25%;

      @media screen and (max-width: 800px) {
        width: 120px;
        height: 120px;
        right: 30px;
      }

      @media screen and (max-width: 600px) {
        width: 100px;
        height: 100px;
        right: 10px;
      }
    }
  }

  .presentation-photo {
    .tri {
      font-size: 18px;
      font-weight: 700;
      line-height: 10;
    }

    .mosaique-vignette {
      justify-content: space-between;
      align-content: space-between;
      grid-template-columns: 350px 350px 350px;

      .vignette {
        margin: 0;
        align-items: start;

        img {
          width: 350px;
          height: 300px;
          object-fit: cover;
        }

        .vignette-desc {
          display: flex;
          width: 100%;
          height: 50px;
          align-items: center;

          p {
            display: flex;
            font-size: 24px;
            color: $colour-primary;
            font-weight: 400;
            font-family: $font-principal;
            line-height: 20px;
          }
          .titre-vignette {
            width: 50%;
          }

          .tarif {
            width: 26%;
          }
          .like,
          .fa-heart {
            justify-content: right;
            width: 12%;
          }
          .fa-heart {
            display: flex;
            color: $colour-primary;
          }
        }
      }
    }
  }
}
