$colour-primary: #901C1C;
$colour-secondary: #D3573C;

$colour-tertiary: #FAFAFA;
$text-tertiary: #525252;

$colour-light-grey: #d6d6d6;
$colour-medium-grey: #b8b8b8;
$colour-dark-grey:#353535;

$font-principal: "DM sans", sans-serif;


$breakpoints: (mobile: 400px);
